<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="./styleCredentialsPage.css" />
</head>
<body>
  <div>
    <form action="login" role="form" method="post">
      <input id="email" type="text" name="email" placeholder="Email"/>
      <input id="password" type="password" name="password" placeholder="Password" required/>
      <input id="login" value="Login" name="login" type="submit" required />
    </form>
  </div>
</body>
</html>
