body{
    background-color: rgba(3, 3, 3, 0.795);
}

form{
    border: solid;
    border-radius: 25px;
    border-color: rgba(0, 0, 0, 0.281);
    padding-bottom: 50px;
    width: 33%;
    margin: 0% auto;
    margin-top: 100px;
    background-color: rgba(105, 121, 121, 0.295);
}
input{

    display: block;
    margin: 0% auto;
    border: blue;
    padding: 25px;
    margin-top: 20px;
    border-radius: 20px;
}

input[name=login]{
    padding-left: 100px;
    padding-right: 100px;
    color: aliceblue;
    background-color: rgba(0, 255, 255, 0.103);
    transition: all 0.5s ease-in;
}

input[name=register]{
    padding-left: 90px;
    padding-right: 90px;
    color: aliceblue;
    background-color: rgba(0, 255, 255, 0.103);
    transition: all 0.5s ease-in;
}

input[type=submit]:hover{
    cursor:pointer;
    background-color: rgba(0, 255, 255, 0.349);
}